* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 203, 255);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* dimensions */
    min-height: 60vh;
    min-width: 22vw;

    /* design */
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    border-radius: 10%;
}

.display, .circles {
    width: 100%;
    min-height: 10vh;
}

.display {
    border-bottom: 3px solid black;
    font-size: 50px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.circles {
    display: flex;
    min-height: 50vh;
    padding: 5px;
}
.circles button {
    border-radius: 20%;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 50px;
    padding: 15px;
    margin: 15px 7.5px;
}
.digits {
    margin-left: 7.5px;
}

.nondigits {
    margin-right: 7.5px;
    display: flex;
    flex-direction: column;
}